<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This project is going to be finished using Agile iteration in one semester. It's for teaching basic skills in Software Engineering and hopefully the product will be applied in reality!
</p>
<p>
  We are students from IIIS, Tsinghua Univ. ......
</p>