<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Visit our
  <a href="https://github.com/cosimo-dw/NamingSaaS">
    Github Repo
  </a> and
  <a href="https://www.pivotaltracker.com/s/projects/929360">
    PivotalTracker
  </a> project only if you're our boss!
</p>