
<div class="row">


<div class="span8">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        千字文
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        天地玄黄 宇宙洪荒 日月盈昃 辰宿列张 寒来暑往 秋收冬藏
        闰馀成岁 律吕调阳 云腾致雨 露结为霜 金生丽水 玉出昆冈
        剑号巨阙 珠称夜光 果珍李柰 菜重芥姜 海咸河淡 鳞潜羽翔
        龙师火帝 鸟官人皇 始制文字 乃服衣裳 推位让国 有虞陶唐
        吊民伐罪 周发殷汤 坐朝问道 垂拱平章 爱育黎首 臣伏戎羌
        遐迩一体 率宾归王 鸣凤在竹 白驹食场 化被草木 赖及万方
        盖此身发 四大五常 恭惟鞠养 岂敢毁伤 女慕贞洁 男效才良
        知过必改 得能莫忘 罔谈彼短 靡恃己长 信使可复 器欲难量
        墨悲丝染 诗赞羔羊 景行维贤 克念作圣 德建名立 形端表正

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        万年历
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>要想追寻万年历的由来，那故事得从远古时代的商朝说起……有名樵夫唤做万年，有一天他上山砍柴，砍罢了就坐在树下休息。他眼望著树影出神
          ，心中想的，仍是如何将节令定准的事。不知不觉过了大半个时辰，他才发现地上的树影已悄悄地移动了方位。万年灵机一动，心想，何不利用日
          影的长短来计算时间呢？回到家后，万年就设计了一个“日晷仪”。可是，一遇上阴雨天，日晷仪又失去效用了。</p>
        <p>有一天，万年在泉边喝水，看见崖上的水很有节奏的往下滴，规律的滴水声又启发了他的灵感。回家後，万年就动手做了一个五层的漏壶，利用
          漏水的方法来计时。这么一来，不管天气阴晴，都可以正确地掌握时间了。有了计时的工具，万年更加用心的观察天时节令的变化。经过长期的归
          纳，他发现，每隔三百六十多天，天时的长短就会重覆一次。只要搞清楚日月运行的规律，就不用担心节令不准了。万年就带著自制的日晷仪及水
          漏壶去觐见天子祖乙，说明节令不准与天神毫不相干。祖乙觉得万年说的很有道理，就把万年留下，在天坛前盖起日晷台、漏壶亭，又派了十二个
          童子供万年差遣。从此以后，万年得以专心致志的研究时令。过了一段日子，祖乙派阿衡去了解万年制历的情况。万年拿出自己推算出的初步成果
          ，说：日出日落三百六，周而[1]复始从头来。草木荣枯分四时，一岁月有十二圆。</p>
        <p>阿衡听後，非常忐忑不安，他担心制出准确的历法，得到天子重用，直接的威胁到他的地位。於是阿衡就以重金收买了一名刺客，准备行刺万年。
          无奈万年全心研究时令，几乎从不离开所住的日月阁。刺客只好趁夜深人静之时，挽起了箭射杀万年。只听得嗖的一声，一箭射中了万年的胳膊，
          万年应声倒下。童子们高喊抓拿刺客，守卫的兵士及时抓住了刺客，将他扭送天子。 祖乙问明了是阿衡的诡计，就下令将阿衡收押，亲自到日月
          阁来探望万年。万年就把自己最新的研究成果报告给祖乙：申星追上了百星蚕百星，星象复原，子时夜交，旧岁已完，时又始春，希望天子定个节
          名吧！祖乙说：春为岁首，就叫春节吧。当时祖乙见万年为了制历，日夜劳瘁又受了箭伤，心中不忍，就请他入宫调养身体，万年答道：“多谢天
          子厚爱，只是目前的太阳历还是草历，不够准确，要把岁末尾时也闰进去。否则，久而久之，又会造成节令失常。为了不负众望，我必须留下来，
          继续把太阳历定准。”又经过了数十个寒暑，万年精心制定的太阳历终于完成了。当他把太阳历献给祖乙时，已是个白发苍苍的老人了。 祖乙深受
          感动，就把太阳历定名为万年历，并封万年为日月寿星，以上就是万年历名称的由来。</p>
      </div>
    </div>
  </div>
</div>
</div>
<div style = "background: url(app/assets/img/ZhouYiYuCe.png)" class="span 4">

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</div>



