<li>
  <% if message.is_user? %>
    <%= '客户说：' %>
  <% end %>
  <span class="content"><%= message.content %></span>
  </p>
  <div class = "inline">
  <span>
  <div class="timestamp">
    <%= (message.created_at) %>
  </div>
  <% if message.is_user? %>
      <%= button_to "删除", message, method: :delete,
                  data: { confirm: "确定删除这条留言吗？" },
                  title: message.content, order_id: message.order_id %>
  <% end %>
  </span>
  </div>
</li>