<h1>历史记录</h1>

<table>
  <thead>
  <tr>
    <th>内容</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @histories.each do |history| %>
      <tr>
        <td><%= history.content %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="depot-form">
        <%= form_tag url_for(:controller => 'histories', :action => 'csv_export'), method: 'post' do%>
            <%= submit_tag "下载历史记录", :class => "btn  btn-primary" %>
        <% end %>
</div>

<br>
