<h1>历史记录</h1>

<table>
  <thead>
  <tr>
    <th>内容</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @histories.each do |history| %>
      <tr>
        <td><%= history.content %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
