<%%= ext_form_for(@<%= singular_table_name %>) do |f| %>
    <%%= f.error_notification %>
    <%- a = [] -%>
    <%- attributes.each do |attribute| -%>
      <%- a << ":#{attribute.name}" -%>
    <% end %>
    <%%= f.inputs <%= a.join(', ') %> %>

    <div class="pull-right">
        <%%= f.button :submit %>
    </div>
<%% end %>
