<footer class="footer">
  <small>
    <a href="http://spoc.tsinghuax.org/courses/Tsinghua/40470174/Software_Engineering/about/">
      Software Engineering and Cloud Computing
    </a>
    by Prof. Wei Xu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://spoc.tsinghuax.org/">TsinghuaX</a></li>
    </ul>
  </nav>
</footer>