<footer class="footer">
  <small>
    <a href="http://spoc.tsinghuax.org/courses/Tsinghua/40470174/Software_Engineering/about/">
      云计算与软件工程
    </a>
    徐葳
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于我们",   about_path %></li>
      <li><%= link_to "联系方式", contact_path %></li>
      <li><a href="http://spoc.tsinghuax.org/">TsinghuaX课程网站</a></li>
    </ul>
  </nav>
</footer>
